.img-wrap{
  position: relative;
  aspect-ratio: 511/228;
}

.img-wrap > img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

